@model PresentationLayer.ServicesManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="s1">
    <div class="container">
        <h2 class="h2-dark">Поиск концертов</h2>
        <form id="email-form" name="email-form" data-name="Email Form" class="form marB">
            <div class="row">

                <div class="col-md-10 marT">
                    <input class="col-md-12" placeholder="Поиск концерта по названию, исполнителю...">
                    <div>
                        <select class="select col-md-4" id="type_concert" name="type_concert">
                            <option value="0">Тип концерта...</option>

                            @foreach (var item in Model.ConcertTypeServices.GetConcertTypesList())
                            {
                                <option value=@item.ConcertType.Id>@item.ConcertType.NameType</option>
                            }
                        </select>
                        <select class="select col-md-4" id="sort_concert" name="sort_concert">
                            <option value="0">Сортировать по...</option>
                            <option value="1">Дата (по возрастанию)</option>
                            <option value="2">Дата (по убыванию)</option>
                            <option value="3">Исполнитель (по возрастанию)</option>
                            <option value="4">Исполнитель (по убыванию)</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2 marT">
                    <input type="submit" value="Поиск" data-wait="Please wait..." class="green-button">
                </div>

            </div>

        </form>
        <a href="#" class="link-dark">Поиск мероприятий на карте...</a>
    </div>
</div>

<div class="s2">
    <div class="container">
        <div class="row">
            <h2 class="col-md-12">Концерты и мероприятия</h2>
            @foreach (var item in Model.ConcertServices.GetConcertsList())
            {
                @if (item != null)
                {
                    <div class="block col-lg-2 col-md-3 col-sm-6">
                        <div class="concert-block">
                            <div class="image-block">
                                <img class="card-img-top" src="images/@item.Concert.Image" />
                            </div>
                            <div class="text-block ">
                                <div class="cen">
                                    <a href="#" class="link-dark">@item.Concert.Singer</a>
                                </div>
                            </div>
                            <button class="green-button">
                                Подробнее
                            </button>
                        </div>
                    </div>
                }


            }

        </div>

    </div>
</div>

