<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-dark">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">ConcertTickets</a>
                <div class="navbar-nav">
                    @*<partial name="_LoginPartial" />*@
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>


    <footer class="footer">
        <div class="container">
            <div>Тут должна быть какая-то информация о контактах, соцсетях и прочем, которую обычно добавляют компании.</div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
