@using Microsoft.AspNetCore.Identity;
@using DataLayer.Entityes;
@inject SignInManager<ApplicationUser> signInManager


@if (signInManager.IsSignedIn(User))
{
    <!-- Информация пользователя -->

    @*@await Component.InvokeAsync("Cart")*@
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <div class="dropdown ml-4 nav-color">
                <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="images/avatar.jpg" width="30" alt="User" class="rounded" />
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-item-text">
                        <img src="images/avatar.jpg" width="50" alt="User" class="rounded" />
                        @User.Identity.Name
                    </div>
                    <div class="dropdown-divider"></div>
                    @*<a class="dropdown-item" asp-controller="Product"
                   asp-action="UserProducts">
                    Мои
                    товары
                </a>*@
                    <form asp-area="Identity"
                          asp-page="/Account/Logout"
                          asp-route-returnurl="@ViewContext.HttpContext.Request.Path">
                        <input type="submit"
                               value="Выйти"
                               class="dropdown-item" />
                    </form>
                </div>
            </div>
            @*<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-light">Выйти</button>
        </form>*@
        </li>
    </ul>
    

    

    <!-- Информация пользователя - конец -->
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li>
            <a class="nav-link btn btn-link text-light"
               asp-area="Identity"
               asp-page="/Account/Login">
                Войти
            </a>
        </li>
        <li>
            <a class="nav-link btn btn-link text-light"
               asp-area="Identity"
               asp-page="/Account/Register">
                Зарегистрироваться
            </a>
        </li>
    </ul>
}



