/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



header {
    background-color: #1d1d1d;
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    height: auto;
    font-family: Montserrat, sans-serif;
    z-index: 10;
}

footer {
    font-family: Arial;
    background-color: #1d1d1d;
    min-width: 100%;
    height: auto;
    color: #939393;
    font-size: 9px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.nav-color {
    color: rgba(255, 255, 255, 0.5)
}

.green-button {
    background-color: #5ab400;
    display: block;
    color: #ffffff;
    border: none;
    min-width: 100%;
    min-height: 100%;
    padding: 10px;
}

    .green-button:hover {
        background-color: rgba(90, 180, 0, 0.7);
    }

.link-btn {
    color: white;
}

    .link-btn:hover {
        color: white;
        text-decoration: none;
    }

.select {
    color: #000;
    font-size: 14px;
    margin-top: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.marT {
    margin-top: 5px;
}

.marB {
    margin-bottom: 10px;
}

input {
    width: 100%;
}

.s1 {
    background-color: #373737;
    padding-top: 80px;
    padding-bottom: 20px;
}


.link-dark {
    color: white;
}

    .link-dark:hover {
        color: #808080;
        text-decoration: none;
    }

.s2 {
    background-color: #f7f7f7;
    padding-top: 30px;
    padding-bottom: 20px;
}

.block {
    margin-top: 20px;
}

.concert-block {
    background-color: #1d1d1d;
    width: 100%;
}

.image-block {
    width: 100%;
    height: 70%;
}

.text-block {
    padding: 5px;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center; /*Центрирование по вертикали*/ 
}

.cen {
    text-align: center;
    font-size: 12px;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .div-gray {
        padding-top: 120px;
    }
}

@media screen and (max-width: 479px) {
    .div-gray {
        padding-top: 150px;
    }
}
